.catalog {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, $card-width);
  gap: 48px;
  padding-bottom: 50px;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, $card-width);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, $card-width);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, $card-width);
  }

  &__card {
    display: grid;
    place-items: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
