.catalog {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax($card-width, 1fr));
  gap: 48px;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, minmax($card-width, 1fr));
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(3, minmax($card-width, 1fr));
  }

  @media (max-width: 488px) {
    grid-template-columns: repeat(2, minmax($card-width, 1fr));
  }

  @media (max-width: 487px) {
    grid-template-columns: repeat(1, minmax($card-width, 1fr));
  }

  &__card {
    display: grid;
    place-items: center;
    width: $card-width;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
